@page
@model CisternasGAMC.Pages.Citizen.CisternCalendarModel
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Calendar.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
}

<!-- Main container -->
<div class="container my-5">
    <section class="text-center">
        <h1 class="display-4 mb-3 text-primary">
            <strong>Entregas de Agua</strong>
            <span class="secondary-text">para @Model.NombreOTB</span>
        </h1>
        <p class="lead text-white">Consulta el estado de las entregas de agua programadas para tu comunidad.</p>


        <!-- Weekly Planner -->
        <div class="weekly-planner">
            <div class="planner-header text-center">Semana @Model.GetCurrentWeekRange()</div>
            <div class="row text-center mt-4">
                @foreach (var day in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>())
                {
                    var deliveriesForDay = Model.CalendarEvents
                    .Where(e => e.DayOfWeek == day.ToString())
                    .ToList();

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex justify-content-between">
                        <div class="planner-day">@Model.GetSpanishDayName(day)</div>
                        <div class="planner-task @deliveriesForDay.FirstOrDefault()?.CssClass">
                            @if (deliveriesForDay.Any())
                            {
                                var status = deliveriesForDay.First().Title;
                                @if (status == "1")
                                {
                                    <i class="bi bi-droplet animate-icon"></i>
                                    <span>Programada</span>
                                }
                                else if (status == "2")
                                {
                                    <i class="bi bi-truck animate-icon"></i>
                                    <span>En entrega</span>
                                }
                                else if (status == "3")
                                {
                                    <i class="bi bi-check-circle animate-icon"></i>
                                    <span>Pasada</span>
                                }
                            }
                            else
                            {
                                <i class="bi bi-slash-circle"></i>
                                <span></span> <!-- Día sin eventos -->
                            }
                        </div>
                    </div>
                }
            </div>


        </div>

    </section>
</div>

<script>
    src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" >
</script>
