@page
@model CisternasGAMC.Pages.Admin.Cruds.OtbCrud.DeleteModel

@{
    ViewData["Title"] = "Eliminar OTB";

    Layout = "_LayoutAdmin";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Eliminar OTB</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">¿Está seguro de que desea eliminar esta OTB?</h3>
                    </div>
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>Nombre</dt>
                            <dd>@Html.DisplayFor(model => model.Otb.Name)</dd>
                            <dt>Cantidad de Familias</dt>
                            <dd>@Html.DisplayFor(model => model.Otb.FamilyCount)</dd>
                            <dt>Distrito</dt>
                            <dd>@Html.DisplayFor(model => model.Otb.District)</dd>
                        </dl>
                    </div>
                    <div class="box-footer">
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
                            Eliminar
                        </button>
                        <a asp-page="./Index" class="btn btn-default">Volver a la Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar? Se perderán todas las entregas de esta OTB.</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" asp-for="Otb.OtbId" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
