.form-container {
    max-width: 500px; /* Ancho máximo */
    margin: 3rem auto; /* Centrado automático con margen superior e inferior */
    padding: 2rem; /* Espaciado interior */
    background-color: rgba(77, 7, 140, 0.8); /* Fondo semi-transparente */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

    .form-container h2 {
        text-align: center; /* Centra el texto */
        margin-bottom: 1.5rem; /* Espaciado inferior */
        font-weight: bold; /* Negrita */
        color: white; /* Color del texto del título */
    }

.form-control {
    margin-bottom: 1rem; /* Espaciado entre el combo box y el botón */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente para el combo box */
    color: black; /* Color del texto negro */
}

.btn-primary {
    width: 100%; /* Botón ocupa todo el ancho */
    font-size: 1.2rem; /* Tamaño de fuente del botón */
    padding: 0.75rem; /* Padding del botón */
    background-color: #EA547C; /* Color del botón */
    border-color: #EA547C; /* Color del borde del botón */
    color: white; /* Color del texto del botón */
}

    .btn-primary:hover {
        background-color: #d0416a; /* Color al pasar el ratón por encima */
        border-color: #d0416a; /* Color del borde al pasar el ratón por encima */
    }

/* Responsividad */
@media (max-width: 768px) {
    .form-container {
        padding: 1.5rem; /* Ajustar padding para pantallas pequeñas */
    }

    .btn-primary {
        font-size: 1rem; /* Tamaño de fuente más pequeño para móviles */
    }

    .form-container h2 {
        font-size: 1.5rem; /* Tamaño de fuente para el título en móviles */
    }
}
