@page
@model CisternasGAMC.Pages.Driver.IndexModel
@{
    Layout = "_LayoutDriver";
}
<link rel="stylesheet" href="~/css/Driver.css">

<div class="form-container">
    <h2>Selecciona la OTB</h2> <!-- Título en blanco -->
    <!-- Formulario que redirige a la página de entrega (Deliver) con el waterDeliveryId -->
    <form method="get" asp-page="/Driver/Deliver">
        <select id="otb" name="waterDeliveryId" class="form-control mb-3">
            @foreach (var waterDelivery in Model.waterDeliveries)
            {
                var otb = waterDelivery.Otb;
                if (otb != null)
                {
                    <option value="@waterDelivery.WaterDeliveryId">@otb.Name</option>
                }
            }
        </select>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Seleccionar Entrega</button>
        </div>
    </form>
</div>
